.header-filter {
  background-image: url('../img/banner.jpg');
  background-size: auto;
}

.main-raised {
    margin: -120px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-page .header {
  height: 580px;
}

.profile-page .gallery img {
    width: 90%;
    margin-bottom: 30px;}

.navbar {
  background-color: #B0BEC5;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color:#607D8B;
  box-shadow: 0 16px 26px -10px rgba(31, 88, 99, 0.5);, 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.profile-page .gallery img {
  margin-bottom: 15px;
}


@media (min-width:996px) {
  .row {
    margin-left: -120px;
    margin-right: -120px;
  }


  .row-gallery {
    margin-left: -180px;
    margin-right: -180px;
  }

  .col-md {
    margin-bottom: 40px;
  }

  .main-raised {
      margin: -120px 30px 10px;
      border-radius: 6px;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}



#more {
  background-color:#607D8B;
}

.row-info {
  margin: 0 30px 30px 30px;
  padding: 0;
}

.profile-page .description {
    margin: 0px auto 0;
    max-width: 600px;}
